{% extends "layout.html" %}
{% block body %}
<form action="" method=post class="form-horizontal">
    <h2>Userinfo</h2>
    <div class="control-group">
        <div class="controls">
            Username: <b>{{ user.user_name }}</b>
        </div>
    </div>
    <table class="table table-hover">
        <tr>
            <th>userid</th>
            <th>Name</th>
            <th>Created</th>
            <th>allowed to login</th>

            <th>Userlevel</th>

        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.user_name }}</td>
            <td>{{ user.registered_on.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>
                <div class="togglebutton">
                    <label>
            <input type="checkbox" name="is_auth.{{ user.id }}" id="is_auth" {% if user.is_auth %} checked {% endif %} {% if current_user.user_level !=10 %} disabled {% endif %} >
          </label>
        </div>  </td>
            <td> {% if current_user.user_level ==10 %} <input type="number" id="user_level" name="user_level"
                                                              class="input-xlarge" value="{{ user.user_level}}"
                                                              required> {% else %} {{ user.user_level}} {% endif %}
            </td>
        </tr>
    </table>
    {% if current_user.user_level >=5 %}
    <div class="control-group">
        <div class="controls">
            Delete this User <input type=checkbox name=delete.{{ user.id }}>
        </div>
    </div>
    {% endif %}


   {% if current_user.user_level ==10 %}<div class="control-group">
        <div class="controls">
            <button  type="submit" class="btn btn-default">Update User</button>
        </div>
    </div> {% endif%}
</form>
{% endblock %}